In [2]:
import pandas as pd
orders = pd.read_csv('order.csv')
node = pd.read_csv('../node.csv')
print(orders.columns)
orders.head()

Index(['Unnamed: 0', 'dwv_order_make_haikou_1.order_id',
       'dwv_order_make_haikou_1.product_id', 'dwv_order_make_haikou_1.city_id',
       'dwv_order_make_haikou_1.district', 'dwv_order_make_haikou_1.county',
       'dwv_order_make_haikou_1.type', 'dwv_order_make_haikou_1.combo_type',
       'dwv_order_make_haikou_1.traffic_type',
       'dwv_order_make_haikou_1.passenger_count',
       'dwv_order_make_haikou_1.driver_product_id',
       'dwv_order_make_haikou_1.start_dest_distance',
       'dwv_order_make_haikou_1.arrive_time',
       'dwv_order_make_haikou_1.departure_time',
       'dwv_order_make_haikou_1.pre_total_fee',
       'dwv_order_make_haikou_1.normal_time',
       'dwv_order_make_haikou_1.bubble_trace_id',
       'dwv_order_make_haikou_1.product_1level',
       'dwv_order_make_haikou_1.dest_lng', 'dwv_order_make_haikou_1.dest_lat',
       'dwv_order_make_haikou_1.starting_lng',
       'dwv_order_make_haikou_1.starting_lat', 'dwv_order_make_haikou_1.year',
       'dwv_order_make_haikou_1.month', 'dwv_order_make_haikou_1.day',
       'departure_time', 'hour'],
      dtype='object')

,Unnamed: 0,dwv_order_make_haikou_1.order_id,dwv_order_make_haikou_1.product_id,dwv_order_make_haikou_1.city_id,dwv_order_make_haikou_1.district,dwv_order_make_haikou_1.county,dwv_order_make_haikou_1.type,dwv_order_make_haikou_1.combo_type,dwv_order_make_haikou_1.traffic_type,dwv_order_make_haikou_1.passenger_count,...,dwv_order_make_haikou_1.product_1level,dwv_order_make_haikou_1.dest_lng,dwv_order_make_haikou_1.dest_lat,dwv_order_make_haikou_1.starting_lng,dwv_order_make_haikou_1.starting_lat,dwv_order_make_haikou_1.year,dwv_order_make_haikou_1.month,dwv_order_make_haikou_1.day,departure_time,hour
0,771056,17592386483766,3,83,898,460105,1,0,6,0,...,3,110.4634,19.9369,110.2169,20.0493,2017,5,2,2017-05-02 05:30:00,5
1,771177,17592389736802,3,83,898,460106,0,0,6,0,...,3,110.4634,19.9369,110.3367,20.0032,2017,5,2,2017-05-02 05:24:24,5
2,771339,17592389740912,3,83,898,460106,0,0,0,0,...,3,110.2897,20.0127,110.3358,19.9943,2017,5,2,2017-05-02 05:31:12,5
3,771404,17592389844970,3,83,898,460108,0,0,0,0,...,3,110.3558,20.0526,110.3460,20.0549,2017,5,2,2017-05-02 05:12:11,5
4,771631,17592388700216,1,83,898,460106,1,0,6,0,...,1,110.4634,19.9369,110.3150,20.0228,2017,5,2,2017-05-02 05:00:00,5

In [4]:
def returnKey(dic, value):
       for i,j in dic.items():
              if j==value:
                     return i

tmp = orders
i = 0
for index, row in tmp.iterrows():
       # print(index)
       if i%1000 == 0:
              print(i)
       i += 1
       start_distance = {}
       end_distance = {}
       for index1,row1 in node.iterrows():
              start_distance[row1['node_id']] = \
            abs(row["dwv_order_make_haikou_1.starting_lng"]  -   row1['x_coord']) + \
            abs(row['dwv_order_make_haikou_1.starting_lat']  -   row1['y_coord'])
              end_distance[row1['node_id']] = \
            abs(row['dwv_order_make_haikou_1.dest_lng']  -   row1['x_coord']) + \
            abs(row['dwv_order_make_haikou_1.dest_lat']  -   row1['y_coord'])
       # print(start_distance)
       # print(returnKey(start_distance, min(start_distance.values())))
       tmp.loc[index,'O_location'] = returnKey(start_distance, min(start_distance.values()))
       tmp.loc[index,'D_location'] = returnKey(end_distance, min(end_distance.values()))
       
tmp.to_csv('orders_with_node.csv')

0

In [10]:
tmp[['dwv_order_make_haikou_1.normal_time','dwv_order_make_haikou_1.arrive_time',
       'dwv_order_make_haikou_1.departure_time','dwv_order_make_haikou_1.start_dest_distance','dwv_order_make_haikou_1.pre_total_fee',]].head()

,dwv_order_make_haikou_1.normal_time,dwv_order_make_haikou_1.arrive_time,dwv_order_make_haikou_1.departure_time,dwv_order_make_haikou_1.start_dest_distance,dwv_order_make_haikou_1.pre_total_fee
0,54.0,2017-05-02 05:22:47,2017-05-02 05:30:00,34604,102
1,23.0,2017-05-02 05:34:03,2017-05-02 05:24:24,19698,55
2,15.0,2017-05-02 05:33:18,2017-05-02 05:31:12,8347,22
3,NaN,0000-00-00 00:00:00,2017-05-02 05:12:11,1375,9
4,25.0,2017-05-02 04:56:48,2017-05-02 05:00:00,23122,83

In [16]:
grouped = tmp.groupby(['O_location','D_location'])['dwv_order_make_haikou_1.order_id'].count().reset_index()
grouped.columns = ['origin_id','destination_id','demand']
grouped['lambda'] = grouped['demand'] / 60
grouped.index.name = "OD_id"
grouped.head()

       origin_id  destination_id  demand    lambda
OD_id
0           19.0           544.0       1  0.016667
1           23.0          3694.0       2  0.033333
2           37.0           393.0       1  0.016667
3           37.0          3694.0       1  0.016667
4           38.0           379.0       1  0.016667

In [17]:
grouped[['origin_id','destination_id','lambda']].to_csv('OD.csv')

In [2]:
C_w_dic = [22.01592468420675, 31.72856857690615, 46.016979323710856, 66.73486708849445, 33.13773857539202, 17.060421041213402, 45.46273484230104, 8.978870643930549, 34.13926983226356, 73.99745023873871, 41.68430304743621, 16.5203951319823, 70.1212017664187, 22.531439531943352, 22.15036513886976, 20.772053158794883, 65.40003384670982, 68.7232653002974, 53.40425039372633, 53.752044098221525, 16.84325703162094, 22.64844449561265, 65.33270053517776, 18.821329210592033, 66.40239365112816, 69.61763429514713, 23.890781377682018, 79.97650088769169, 72.63216080397427, 18.681994271208723, 10.091996334721479, 31.506706860910633, 43.182628071820965, 61.287869767419615, 70.45438738590639, 14.344356802577186, 58.08162281275889, 62.979789042382436, 58.96939129070908, 52.28012388877872, 7.7303990329859165, 60.14392204353986, 16.890978999472548, 28.612643490415035, 8.191525959501904, 18.160432322913117, 25.5870885618573, 62.12346956530239, 48.38464772562299, 65.0947630898962, 26.789852867836196, 17.53701889424151, 65.56585545705512, 55.00322794431564, 34.33636224884864, 11.918650449990746, 22.418820502868698, 62.29204165520294, 60.19893765657678, 62.12505253798278, 65.1957636693142, 19.280186201069302, 56.72947451263835, 18.966616200797247, 19.509755069236633, 73.9333314143371, 72.02533427776427, 34.83731641488022, 76.68106122472372, 75.71651812180284, 18.263485744388326, 28.221831899962844, 72.40527084104289, 74.37095477760957, 75.74864990412613, 21.934287679191144, 67.96648130369846, 20.523307951689805, 60.6903372794499, 60.320232543120014, 20.48621211844385, 20.9334282127576, 30.72739704467135, 31.502396441004063, 45.99948451733426, 48.925893424561835, 44.119128787399305, 58.5245576105042, 43.35537951102097, 52.30502216090098, 26.018193156017226, 40.12474502655988, 34.82149297172161, 50.364707631910164, 51.78196173890407, 13.339245783583252, 51.6029441304258, 49.92810183304813, 49.27941387563314, 66.44704251730973, 46.9354674559053, 25.198620836948706, 16.796932569321427, 13.698692412440861, 50.727253439466274, 18.564941953941872, 19.897062893243906, 50.93555467035951, 40.188777060375685, 51.837589962809524, 52.87256629755824, 23.76531506455178, 25.79874220903395, 51.350801087356054, 71.31478837546351, 40.142641566721736, 33.39677290529744, 33.030684511717546, 29.119763991011247, 41.00846670987534, 21.534794379463772, 71.10640952776178, 80.07522700424724, 75.94212611982798, 14.791477950096752, 83.24507074526126, 75.61003968100596, 67.26892561998133, 67.6985229766112, 68.16129281187888, 13.654272598305695, 16.58921925653745, 59.669467121832156, 61.682577271390215, 59.445931058466954, 10.571841437909974, 62.46438389018283, 40.28028307493003, 56.636285278693876, 15.219353440295475, 62.032570517771475, 13.6079623697992, 62.06059727636926, 29.21185704951212, 11.25337417642786, 64.14819681855789, 12.143430584062099, 60.52438139212569, 14.938846090305434, 55.06937504660364, 39.2092190762774, 18.27119942260878, 58.38542715936924, 21.66035315345319, 68.8202744238109, 78.65044894012192, 17.395902053653966, 41.626928987023824, 45.787816887934156, 104.3926642205566, 42.11589690766516, 92.12919134696489, 30.6831799402226, 84.8555270855803, 15.182765550626366, 79.05224734521383, 29.097040574840193, 74.67417274962477, 70.20787404680225, 15.593595917208734, 68.9168340638942, 46.71196053605952, 18.00951089607549, 24.3088724046886, 73.87340553145135, 18.04123283168293, 73.0977243341822, 29.053256441770035, 78.47829035313913, 12.143615699264036, 22.120329770926134, 11.74583525117635, 23.14546560948351, 15.240251514684152, 69.6068031178636, 10.229558571586384, 31.450736440573205, 50.16492511398637, 35.48409569978665, 45.04872048075232, 51.32381681694814, 198.47445792559424, 56.6105151801822, 46.451195439932036, 44.74849036523979, 134.54969992512625, 73.83667379284536, 59.09725678762058, 44.557275193273234, 19.047300150650376, 59.505432041031895, 28.744890248414055, 18.518219799417093, 24.985933766748822, 20.03489355575862, 64.19857115532676, 60.55516273959761, 63.986444810352396, 31.763243616543537, 8.54237843311947, 23.669962066912287, 56.00269808229558, 20.202514038738542, 67.27606110019656, 88.69055556033473, 75.47172044582115, 18.19562962557009, 75.53768433253212, 25.964366407450893, 66.96257390794572, 79.36926868635716, 75.99690330075349, 72.27999170372416, 22.468212175794722, 6.8697673666633365, 38.901103708228206, 14.212765028115193, 65.56841252817836, 30.8459736725867, 75.81083134346642, 74.20268838812592, 33.67565132249784, 20.420177251377464, 49.2892499414296, 20.420136366954335, 57.11707773098269, 56.35425309238775, 53.9130208537538, 68.98052628731213, 90.12523921051537, 18.265755549156864, 73.88032537362429, 47.74638821063145, 77.97457189685163, 35.539069880634585, 35.83112830246312, 15.097882935210288, 47.00823706849329, 52.910502043829425, 38.38618725063807, 26.87314038717753, 51.11686586373948, 64.04835690393435, 64.4367891029076, 29.180167286958376, 71.66191872522211, 20.143919139125153, 26.653142397933294, 72.25692339322549, 75.5704366499926, 34.77639202590227, 43.01896938918147, 78.56917546011788, 68.13126845615496, 57.05013120787928, 24.318037308019694, 72.97407640055614, 71.015084503761, 13.950012595840722, 63.63261212494264, 54.09957526091771, 33.49982591697438, 51.537578920343606, 12.477295089329854, 57.16524272346709, 36.85379331352179, 15.371510514315487, 50.128011015100114, 47.274046628804584, 60.91789329208211, 56.93215163148129, 69.83607083053981, 38.53274007787624, 14.884431366704234, 40.65268039730127, 14.915841944342622, 22.269616234271382, 47.04789893134863, 32.58939639518724, 41.31481084242118, 28.464640755136777, 29.318753034561862]

price_rate_ranges 5
price_rate_ranges [Real(low=0, high=1.0, prior='uniform', transform='identity'), Real(low=0, high=1.0, prior='uniform', transform='identity'), Real(low=0, high=1.0, prior='uniform', transform='identity'), Real(low=0, high=1.0, prior='uniform', transform='identity'), Real(low=0, high=1.0, prior='uniform', transform='identity')]